/* Classes réutilisables* /





/* Fin classes réutilisables */


/* Header */
.header{
    justify-content: space-between;
}

.logo{
    width: 45%;
    height: 80%;
}


/* Fin Header */


/* Section recherche */

/* Fin section recherche */

/* Section hébergements */

/* Fin section hébergements */

/* Section activités */

/* Fin section activités */